<<<<<<< HEAD

.icon-bar {
background-color:#44c2ca;

=======
>>>>>>> FETCH_HEAD
header {
background-color:red;
}

.save {
background-color:orange;
margin-top:5px;
padding-bottom:2%;
<<<<<<< HEAD

=======
>>>>>>> FETCH_HEAD
}